@import './design-system/style.css';
@import './components/style.css';

.chat-wrapper {
    position: fixed;
    bottom: 0;
    right: 0;
}
.chat {
    height: 400px;
    width: 300px;
    border: 1px solid black;
}
